html {
    font-size: 16px;
}

body {
    background-color: #00aaaa;
}

div.contents {
    max-width: 95%;
}

.m-1 {
    margin: 1rem;
}

.p-1 {
    padding: 1rem;
}

.text-center {
    text-align: center;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

#reader {
    width: 100%;
}